/* Palette */



@body_bg_color:						#f7f7f7;
@main_background_color: 			#cccccc;
@sidebar_background_color: 			#cccccc;
@heading_color:						#3c3c3c;
@text_color: 						#717171;
@text_intermediary:					#363636;
@text_emphasis_color:				#1a1a1a;
@link_color:						#990000;
@link_hover_color:					#f18c2e;